* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	/* display: flex; */
	/*flex-direction: column;*/
	background-color: #f3fefded;
	height: 100vh;
	width: 100vw;
	
}

		.tieude {
			    color: #0a0203;
			    text-align: center;
			    padding: 8px;
			    background: #86e0bb;
			    border-bottom: 2px solid #387065;
		}
/*/////////////TIEU DE/////////////////*/

.khoi1 {
	margin-bottom: 20px;
	padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    box-shadow: -10px 10px 30px #00ffff;
}


		/* khoi 1 */
		.thongtin  {
			color: #620a06;
			display: flex;
			justify-content: space-around;
		}
		.thongtin  .anh1 {
			width: 150px;
		    height: 150px;
		    /*display: inline-block;*/
		   /* flex: 1;*/
		 /*   margin-left: 200px;*/
		    box-shadow: 5px 5px 30px #620a06;
		    border-radius: 100px;
		}
		.logo {
			/*padding: 20px;*/
			text-align: center;
			/*margin-left: 100px;*/
			/*flex: 3;*/
		}
		
		.thongtin  .anh2 {
			width: 150px;
		    height: 150px;
		/*    display: inline-block;*/
		    /*flex: 1;*/
		    /*margin-left: 200px;*/
		    box-shadow: 5px 5px 30px #620a06;
		    border-radius: 50%;

/*		.logo_giua {
			font-size: 14px;*/
		}
		.logo_duoi {
			display: flex;
			justify-content: space-around;
			padding-left: 0px;
			padding-right: 640px;
			margin-top: 10px;
			color: #01136a;
		}
		.duoi_1 {
			display: flex;
			justify-content: space-around;
			padding-left: 0px;
			padding-right: 650px;
			margin-top: 5px;
			margin-bottom:10px;
			color: #01136a;

		}


/*/////////////HOẠT ĐỘNG CHUNG/////////////////*/
.khoi2 {
/*	height: 700px;*/
	display: flex;
	margin: 10px;
}
/* khoi kết nối */
/*	.ketnoi {
		flex: 1;
		padding: 3px;
		width: 300px;
		height: auto;
		margin-left: 20px;
		text-align: center;
		border: 3px solid black;
	}*/


/* khoi điều khiển */
	.dieukhien {
		/*margin: 20px;*/
		/* margin-left: 50px; */
		/* margin-right: -20px; */
		flex: 1;
		padding: 3px;
		width: 400px;
		height: auto;
		margin-right: 10px;
		border: 3px solid black;
	}

		/*	.wrapper{
		    height: 100vh;
		    width: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}*/
		.chedo{
		    padding: 5px ;
		    /*width: 70%;*/
		    display: flex;
		    justify-content: space-around;
		    align-items: center;
		/*    flex-direction: column;*/
		    border-bottom: 2px solid rgb(170, 150, 21);
			}
			.chedo p {
				font-size: 20px;
			    font-weight: bold;
			    border: 2px dashed #4fc3d7;
			    padding: 20px;
			  /*  border-radius: 40px;*/
			    color: #571815;
			    background: #6ccab7;
			}
				.chedo h3 {
					font-size: 20px;
					font-weight: bold;
					border: 2px dashed #4fc3d7;
					padding: 15px;
					/*border-radius: 40px;*/
					color:  #571815;
					background:#6ccab7;
				}
			
				.PV input{
					font-weight: bold;
					color:  #571815;
					font-size: 20px;
					width: 200px;
					height: 40px;
					background: rgb(149, 228, 219);
					border-radius: 30px;
					padding: 5px;
					transition: all 300ms ease-in-out;
					text-align: center;
				}

				.chedo1{
					padding: 25px ;
					/*width: 70%;*/
					display: flex;
					justify-content: space-around;
					align-items: center;
				/*    flex-direction: column;*/
					border-bottom: 2px solid rgb(170, 150, 21);
				}
			.chedo button {
				font-weight: bold;
				color:  #571815;
				font-size: 20px;
				width: 100px;
				height: 40px;
				background: rgb(119, 149, 146);
				/*border-radius: 30px;*/
				padding: 5px;
				transition: all 300ms ease-in-out;
				align-items: center;
				/*text-align: center;*/
				cursor: pointer;
				position: relative;
			}
				
				

/*--------------- khoi hien thị ----------------*/

	.hienthi {
		/* margin: 20px; */
		/* margin-left: 100px; */
		flex: 1;
		padding: 3px;
		width: 300px;
		height: auto;
		border: 3px solid black;
	}

				
				#currentDateTime {
				
					font-size: 20px;
					font-weight: bold;
					padding: 10px;
				/*  border-radius: 40px;*/
					color:#571815;
					background: #6ccab7;
				  }

				.chartContainer{
					width: 700px;
					height:  auto;
					border: 1px solid #ccc;
					margin: 2px auto;


				}

				#link {
				
					font-size: 20px;
					font-weight: bold;
					padding: 10px;
				/*  border-radius: 40px;*/
					color:#571815;
					background: #6ccab7;
				  }